body {
  background-color: #555555;
}

.Page {
  text-align: center;
}

.Header {
  padding: 10px;
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* background-color: bisque; */
  align-content: center;
}

.Container > div {
  /* background-color: DodgerBlue; */
  margin: 5px;
  text-align: center;
  padding: 20px;
}

.RightArrow, .LeftArrow{
  width: 10px;
  height: 10px;
}

.LeftArrow {
  transform: scaleX(-1);
}
